<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>

    <%- include('../partials/header'); %>

<div class="list-products">
    <% product.forEach((row) => {  %>
        <div class="sub-main"> 
            <i class="fa-regular fa-heart corazon-wish"></i>
            <a href="/products/<%= row.id %>">
                <div class="image-list-container">
                    <img class="" src="/images/<%= row.image %>" alt="<%= row.image %>">
                </div>
                <div class="info-list">
                    <h2 class="nombre"><%= row.name %></h2>
                    <p class="precio">$<%= row.price %></p>
                </div>
                <div class="contenedor-botonCarrito">
                    <input type="button" class="agregar-carrito" onclick="agregarProductoACarrito(<%= row.id %>, <%= locals.userLog.id %>)" value="Agregar al carrito">
                    <i class="fa-solid fa-cart-shopping icon"></i>
                </div>
            </a>
        </div>
        <% }) %>
</div>

</main>
<script src="/js/header.js" ></script>

<%- include('../partials/footer'); %>

</body>
</html>


