<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs'); %>
  <body>
    <%- include('../partials/header.ejs'); %>
      <main>
        <script>
          function changeMainImage(image) {
            var mainImage = document.getElementById('main-image');
            mainImage.src = image.src
          }
        </script>



<div class="producto-nombre"><h1><%= editProduct.nombre %> </h1></div>
<div class="producto-container">
 
  <div class="image-list">
   
  
    <img src="/images/<%= editProduct.image %>" alt="Imagen 2" onmouseover="changeMainImage(this)">
    <img src="/images/<%= editProduct.image %>" alt="Imagen 3" onmouseover="changeMainImage(this)">
    <img src="/images/<%= editProduct.image %>" alt="Imagen 4" onmouseover="changeMainImage(this)">
  </div>
  
  <img id="main-image" class="image-main" src="/images/<%= editProduct.image %>" alt="Imagen Principal">
  <div class="icono-corazon">
  <a href="productWhisList"> <i class="fas fa-regular fa-heart"></i></a>
  </div>
  
  
  <div class="producto-iconos">

    
    <h2>$ <%= editProduct.precio %></h2>
    <form class="Agregar" action="/productCart" method="get">
      <button class="Agregar" type="submit">COMPRAR</button>
    </form>

    <p><i class="fas fa-solid fa-check"></i>STOCK EN LA WEB </p>
    <p><i class="fas fa-solid fa-check"></i>STOCK EN EL LOCAL</p>
    <p><i class="fas fa-solid fa-store"></i>RETIRO ¡GRATIS!</p>
    <p><i class="fas fa-solid fa-truck"></i>ENVIO</p>
  </div>
</div>

<h3 class="producto-descripcion">Descripcion</h3>
<p><%= editProduct.descripcion %> </p>


<h4 class="producto-recomendado-titulo"> <span class="linea"></span>Productos recomendados<span
    class="linea"></span></h4>
    
    <div class="contenedor-main">
      <% products.forEach(function(p){ %>
        <%- include('../partials/tarjetasProductosHomeDetalle', {producto: p}); %>
      <% }); %>
    </div>

</main>
<%- include('../partials/footer'); %>
</body>

</html>