<!DOCTYPE html>
<html lang="en">

<%- include('partials/head'); %>

    <body>
        <%- include('partials/header'); %>
            <main class="main-carrito-whislist">
                <section class="tarjetas-productos">
                    <% let total=0 %>
                    <% productos.forEach(function(p){ %>
                        <%- include('partials/productCardCart', {producto: p}); %>
                        <%  total += p.cantidad * p.precio %>
                    <% }); %>
                </section>
                <section class="carrito-total-section">
                    <div class="contenedor-total">
                        <div class="carrito-seguir-comprar">
                            <input type="button" class="seguir-comprando" value="Seguir Comprando">
                        </div>
                        <div class="carrito-total-boton">
                            <div class="carrito-total">
                                <label>Total</label>
                                <label id="total">$<%= total %></label>
                            </div>
                            <div class="carrito-comprar">
                                <input type="button" class="comprar" value="Comprar">
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('partials/footer'); %>

    </body>

</html>