<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <section class="perfil-container">
        <form>
          <h2><div class="primer-contenedor">
            <%= user.nombreCompleto %>
              <img src="/images/<%= user.images %>" alt="<%= user.nombreCompleto %>">
          </div></h2>
            <section class="datos">              
              <a href="/informacionPersonal/<%= user.id %>"><h3><strong>INFORMACION PERSONAL</strong> <%= user.informacionPersonal %></h3></a>
            </section>

              <div>
                <p><strong>Nombre de Usuario:</strong> <%= user.nombreUsuario %></p>
                <p><strong>Email:</strong> <%= user.email %></p>
                <a href="/edit/<%= user.id %>">Editar</a>
              </div>
            
            </section>

  
              <form action="/<%= user.id%>/edit/user/?_method=PUT" method="put"  >
                <button>Editar</button>

            <form action="/<%= user.id%>/delete/user/?_method=DELETE" method="post"  >
              <button>Eliminar</button>
              
    </section>

    <%- include('../partials/footer.ejs') %>
</body>
</html>