<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>

    <%- include('../partials/header'); %>

    <main>


        <div class="bloqueSignup">

            <form class="form-signup" action="/users/register" method="post">

                <div class="icon-register">
                    <i class="fa-solid fa-circle-user"></i>
                </div>

                <div>
                    <input class="text-field" type="text" name="nombre" placeholder="Nombre completo">
                </div>

                <div>
                    <input class="text-field" type="email" name="email" placeholder="E-mail" value="<%= locals.oldData ? oldData.email : null %>">
                </div>
                <% if(locals.errors && errors.email) { %>
                    <p> <%= errors.email.msg %> </p>
                    <% } %>

                <div>
                    <input class="text-field" type="password" name="contrasenia" placeholder="Contraseña" value="<%= locals.oldData ? oldData.contrasenia : null %>">
                </div>

                <% if(locals.errors && errors.contrasenia) { %>
                    <p> <%= errors.contrasenia.msg %> </p>
                    <% } %>

                <div>
                    <input class="text-field" type="password" name="contrasenia" placeholder="Confirmar contraseña">
                </div>

                <div class="fotoPerfil">
                    <label class="fotoperfil" for="fotoPerfil">Agregar imagen</label>
                    <input type="file" name="fotoPerfil" id="fotoPerfil">
                </div>

               
                <canvas></canvas>

                <div class="cuadrOr">
                    <div class="register-or">
                        <label class="label-or">O</label>
                    </div>
                </div>

                <div class="redes">
                    <i class="fa-brands fa-google"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>

                <div class="buttons">
                    <button class="botonSubmit" type="submit">Registrarme</button>
                    <div class="bloqueLogin">
                        <legend>
                            ¿Ya tienes una cuenta?
                        </legend>

                        <button type="submit" formmethod="get" formaction="/login" class="botonLogin"> 
                            Ingresar
                        </button>
                        
                    </div>

                </div>


            </form>

        </div>

    </main>
   
    <%- include('../partials/footer'); %>

</body>
</html>

